*{
    margin: 0;
    padding:0;
}
body{
   font-family: 'Inter', sans-serif; 
   
  
}
.main{
    max-width: 1320px;
    margin: auto;
}

.banner {
    
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/img/Banner Image.png');
    
    max-width: 1320px;
    height: 600px;
    margin: auto;
    color: white;
    text-align: center;
    margin-bottom:120px ;
    border-radius: 10px;
}


.banner-div{
    padding: 120px 344px;
}
.banner-div >h3{
    font-size: 32px;
    font-weight: 400px;
    font-style: normal;
    margin-bottom: 16px;
}
.banner-div >h1{
    font-size: 72px;
    font-weight: 900px;
}

/* offer section */
.offer-section{
  max-width: 800px;
  
  margin:0 auto;
  text-align: center;
  margin-bottom: 120px;
}
.offer-section div >h2{
    font-size: 88px;
    font-weight: 700;
    color: red;
    margin-bottom: 48px;
}

.offer-section div >p{
    font-size: 24px;
    color: red;
    margin-bottom: 16px;
}
.offer-section div >h3{
    font-size: 48px;
    margin-bottom:48px ;
}
.offer-section div >img{
    width: 800px;
    height: 500px;
}
/* 2024 */
.party{
        
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/img/Vectorrr.png');
    
    max-width: 1320px;
    
    margin:0 auto;
    color: white;
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    background-repeat: no-repeat
    ;
    margin-bottom: 120px;
    
}
.party div >h1{
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 24px;


}
.party div >p{
    font-size: 18px;
}
.party div{
    padding: 70px 120px;
}

.party div button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
}

/* date */
.date{
    background: linear-gradient(180deg, #eacde8, #fcfbfa);
    border-radius: 10px;
    padding: 100px 300px 126px;
    text-align: center;
    margin-bottom: 120px;
}
.date h2{
    font-size: 32px;
    font-weight: 600;
}
.date h2 > span{
    color: red;
}
.date button{
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 64px;
}
/* coming soon */
.coming_soon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    
   
}
.coming_soon_item{
    flex: 1;
    padding-right: 40px;
}
.group{
    border: 15px solid #FF0000;
    border-radius: 50%;
}
.group_img{
    padding: 40px;
}
.new_offer{
    color: red;
    font-size: 24px;
    margin-bottom:16px;

}
.coming_title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.coming_2024{
    color: red;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.coming_p{
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 43px;
}
/* holiday */
.holiday{
    max-width: 1068px;
    margin: auto;
    margin-bottom: 120px;
}
.holiday >h3{
 font-size:24px ;
 
 text-align: center;
 margin-bottom: 10px;
}
.holiday >h1{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-bottom:28px ;
}

.girls {
    display: flex;
    z-index: 1; /* Set z-index for .girls */
    position: relative;
    
    max-width: 1320px;
}

.discount_img {
    position: relative;
}

.redcolor {  
    position: absolute;
    bottom: 0px;
    z-index: 0; /* Set z-index for .redcolor */
}
.girl{
    position: relative;
    
}
.girl_one{
    position: absolute;
    left: 95px;
}
.girl_two{
    position: absolute;
    top: 70px;
    left: -60px;
}
/* best gift */
.best-gift{
    margin: 120px 0;
}
.best >h3{
    font-size: 24px;
    font-weight: 400;
    color: #FF0000;
    margin-bottom: 16px;
}
.best>h2{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    
}
.best>p{
    width: 800px;
    font-size: 20px;
    font-weight: 400;
}

.img_group{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 120px;
}
.img_group img{
    width: 400px;
    height: auto;
    transition: transform 0.4s ease-in-out,border 0.3s ease-in-out;
}
.img_group img:hover {
    transform: scale(1.1); 
    border:5px solid #FF0000;
    border-radius: 15px;
}

/* subscribe */
.subscribe{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px;
    text-align: center;
    margin-bottom: 120px;
}
.subscribe h2{
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 22px;
}
.subscribe p{
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 48px;
}
input{
    border: none;
}
.inp_one{
    padding:20px 30px ;
    width: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.inp_two{
    padding: 20px 30px;
    color: white;
    background-color: #FF0000;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
    margin-left: -4px;

}
footer{
    background-color: #070211;
    color: white;
    padding: 120px 140px;
}
.footer_one{

    display: flex;
    justify-content: space-between;
}
.footer_sort{
    display: flex;
    gap: 10px;
}
.footer_two{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 24px;
}
.footer_three{
    display: flex;
    justify-content: space-between;
}